.creator{
    margin-top: 30px;
}
.creator__title{
    font-family: 'Zen Dots';
    font-size: 48px;
    line-height: 72px;

    text-align: center;

    color: #FFFFFF;
}       
.creator__subtitle{
    font-family: 'Jost';
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.02em;

    color: #BDBFD1;
    max-width: 55%;
    margin: 0  auto;
    margin-top: 16px;

}
.creator__columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 75px;
    row-gap: 20px;
    column-gap: 20px;

}
.creator__column{
    display: flex;
    border: 1px solid #F5F5F5;
    padding: 15px 45px;
    border-radius: 10px;
    margin-right: 5px;

}

.creator__img{
    width: 54px;
    height: 54px;
    margin-right: 18px;
}
.creator__name{
    font-family: 'Jost';
    font-size: 18px;
    line-height: 26px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.creator__subtext{
    font-family: 'Jost';
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #C9C27A;
    position: relative;
    margin-left: 20px;
}
.creator__subtext::before{
    content: '';
    position: absolute;
    background-image: url('/images/Vector\ 10.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 27px;
    left: -20px;
}
.creator__btn{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.creator__link{
    font-family: 'Jost';
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 18px 35px;
    color: #FFFFFF;
}

@media (max-width: 900px){
    .creator__columns{
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }
}
@media (max-width: 650px){
    
    .creator__columns{
        grid-template-columns: 1fr;
    }
    .creator__title{
        font-size: 30px ;
    }
    .creator__subtitle{
        font-size: 12px;
    }
}
